.DS_Store
.idea/
.vscode/

ET/Library/
ET/obj/
ET/Bin/
ET/Logs/
ET/Temp/
ET/Bundles/

ET/Packages/cn.etetet.proto/CodeMode
ET/Packages/cn.etetet.proto/CodeMode.meta
ET/Packages/cn.etetet.loader/Bundles/Code/
ET/Packages/cn.etetet.excel/Config/Json/cs/
ET/Packages/cn.etetet.excel/Config/Json/c/
ET/Packages/cn.etetet.excel/Config/Json/s/
ET/Packages/cn.etetet.excel/Config/Bytes/cs/
ET/Packages/cn.etetet.excel/Config/Bytes/c/
ET/Packages/cn.etetet.excel/Config/Bytes/s/
ET/Packages/cn.etetet.excel/CodeMode/Model/Server/
ET/Packages/cn.etetet.excel/CodeMode/Model/ClientServer/
ET/Packages/cn.etetet.excel/CodeMode/Model/Client/

ET/*.csproj
ET/*.sln
ET/UserSettings/

ET/ET.sln.DotSettings.user