.DS_Store
.idea/
.vscode/

ET/Library/
ET/obj/
ET/Packages/cn.etetet.*/DotNet~/obj/
ET/Packages/cn.etetet.*/DotNet~/*/obj/
ET/Bin/
ET/Logs/
ET/Temp/
ET/Bundles/

ET/Packages/cn.etetet.proto/CodeMode
ET/Packages/cn.etetet.proto/CodeMode.meta
ET/Packages/cn.etetet.loader/Bundles/Code/
ET/Packages/cn.etetet.excel/Config/Json/cs/
ET/Packages/cn.etetet.excel/Config/Json/c/
ET/Packages/cn.etetet.excel/Config/Json/s/
ET/Packages/cn.etetet.excel/Config/Bytes/cs/
ET/Packages/cn.etetet.excel/Config/Bytes/c/
ET/Packages/cn.etetet.excel/Config/Bytes/s/
ET/Packages/cn.etetet.excel/CodeMode/Model/Server/
ET/Packages/cn.etetet.excel/CodeMode/Model/ClientServer/
ET/Packages/cn.etetet.excel/CodeMode/Model/Client/

ET/*.csproj
ET/*.sln
ET/UserSettings/

ET/Packages/cn.etetet.*/Scripts/Hotfix/Server/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/Hotfix/Share/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/Hotfix/Client/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/Hotfix/Server/AssemblyReference.asmref.meta
ET/Packages/cn.etetet.*/Scripts/Hotfix/Share/AssemblyReference.asmref.meta
ET/Packages/cn.etetet.*/Scripts/Hotfix/Client/AssemblyReference.asmref.meta

ET/Packages/cn.etetet.*/Scripts/Model/Server/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/Model/Share/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/Model/Client/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/Model/Server/AssemblyReference.asmref.meta
ET/Packages/cn.etetet.*/Scripts/Model/Share/AssemblyReference.asmref.meta
ET/Packages/cn.etetet.*/Scripts/Model/Client/AssemblyReference.asmref.meta

ET/Packages/cn.etetet.*/Scripts/ModelView/Client/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/HotfixView/Client/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/Loader/Client/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/Loader/Server/AssemblyReference.asmref
ET/Packages/cn.etetet.*/Scripts/ModelView/Client/AssemblyReference.asmref.meta
ET/Packages/cn.etetet.*/Scripts/HotfixView/Client/AssemblyReference.asmref.meta
ET/Packages/cn.etetet.*/Scripts/Loader/Client/AssemblyReference.asmref.meta
ET/Packages/cn.etetet.*/Scripts/Loader/Server/AssemblyReference.asmref.meta

ET/ET.sln.DotSettings.user
ET/Packages/cn.etetet.sourcegenerator/ET.SourceGenerator.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/System.Security.Cryptography.Pkcs.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/System.Drawing.Common.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/SharpCompress.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/win/native/snappy64.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/win/native/snappy32.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/win/native/mongocrypt.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/win/native/libzstd.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/win/lib/net7.0/System.Drawing.Common.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/osx/native/libzstd.dylib
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/osx/native/libsnappy64.dylib
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/osx/native/libmongocrypt.dylib
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/linux/native/libzstd.so
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/linux/native/libsnappy64.so
ET/Packages/cn.etetet.proto/DotNet~/Exe/runtimes/linux/native/libmongocrypt.so
ET/Packages/cn.etetet.proto/DotNet~/Exe/NLog.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/MongoDB.Libmongocrypt.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/MongoDB.Driver.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/MongoDB.Driver.Core.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/MongoDB.Bson.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.Win32.SystemEvents.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.IO.RecyclableMemoryStream.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.Extensions.Primitives.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.Extensions.FileSystemGlobbing.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.Extensions.FileProviders.Physical.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.Extensions.FileProviders.Abstractions.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.Extensions.Configuration.Json.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.Extensions.Configuration.FileExtensions.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.Extensions.Configuration.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.Extensions.Configuration.Abstractions.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.CodeAnalysis.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/Microsoft.CodeAnalysis.CSharp.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/MemoryPack.Core.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/ET.SourceGeneratorAttribute.pdb
ET/Packages/cn.etetet.proto/DotNet~/Exe/ET.SourceGeneratorAttribute.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/ET.Proto2CS.pdb
ET/Packages/cn.etetet.proto/DotNet~/Exe/ET.Proto2CS.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/ET.Proto2CS.deps.json
ET/Packages/cn.etetet.proto/DotNet~/Exe/ET.Proto2CS
ET/Packages/cn.etetet.proto/DotNet~/Exe/ET.Core.pdb
ET/Packages/cn.etetet.proto/DotNet~/Exe/ET.Core.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/EPPlus.System.Drawing.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/EPPlus.Interfaces.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/EPPlus.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/DnsClient.dll
ET/Packages/cn.etetet.proto/DotNet~/Exe/CommandLine.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/System.Security.Cryptography.Pkcs.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/System.Drawing.Common.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/SharpCompress.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/win/native/snappy64.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/win/native/snappy32.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/win/native/mongocrypt.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/win/native/libzstd.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/win/lib/net7.0/System.Drawing.Common.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/osx/native/libzstd.dylib
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/osx/native/libsnappy64.dylib
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/osx/native/libmongocrypt.dylib
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/linux/native/libzstd.so
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/linux/native/libsnappy64.so
ET/Packages/cn.etetet.excel/DotNet~/Exe/runtimes/linux/native/libmongocrypt.so
ET/Packages/cn.etetet.excel/DotNet~/Exe/NLog.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/MongoDB.Libmongocrypt.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/MongoDB.Driver.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/MongoDB.Driver.Core.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/MongoDB.Bson.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.Win32.SystemEvents.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.IO.RecyclableMemoryStream.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.Extensions.Primitives.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.Extensions.FileSystemGlobbing.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.Extensions.FileProviders.Physical.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.Extensions.FileProviders.Abstractions.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.Extensions.Configuration.Json.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.Extensions.Configuration.FileExtensions.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.Extensions.Configuration.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.Extensions.Configuration.Abstractions.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.CodeAnalysis.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/Microsoft.CodeAnalysis.CSharp.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/MemoryPack.Core.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/ET.SourceGeneratorAttribute.pdb
ET/Packages/cn.etetet.excel/DotNet~/Exe/ET.SourceGeneratorAttribute.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/ET.ExcelExporter.pdb
ET/Packages/cn.etetet.excel/DotNet~/Exe/ET.ExcelExporter.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/ET.ExcelExporter.deps.json
ET/Packages/cn.etetet.excel/DotNet~/Exe/ET.ExcelExporter
ET/Packages/cn.etetet.excel/DotNet~/Exe/ET.Core.pdb
ET/Packages/cn.etetet.excel/DotNet~/Exe/ET.Core.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/EPPlus.System.Drawing.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/EPPlus.Interfaces.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/EPPlus.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/DnsClient.dll
ET/Packages/cn.etetet.excel/DotNet~/Exe/CommandLine.dll
